<div id="main">
    <figure id="coversite">
    </figure>  
    <div id="workshopoverall">
        <p>{{errMessage}}</p>
        <div id="headline">
            <h1>
                <strong>
                WORKSHOP REGISTRATION FORM 
                </strong>
            </h1> 
        </div>
        <ul class="workshop_ul">
            <li>
                <div id="workshopregister">
                    <div class="input_field">
                        <label for="input_name">Name</label> 
                        <input type="text" class="input" id="input_name" placeholder="Enter your Name" title="Name" [(ngModel)]="workshopForm.name"> 
                    </div> 
                    <div class="input_field">
                        <label for="input_pn">Phone Number</label>
                        <input type="tel" class="input" id="input_pn" placeholder="Enter your Phone number" title="Phone Number" [(ngModel)]="workshopForm.phoneNumber"> 
                    </div>
                    <div class="input_field">
                        <label for="input_email">Email</label>
                        <input type="email" class="input" id="input_email" placeholder="Enter your Email" title="Email" [(ngModel)]="workshopForm.email">
                    </div>
                    <div class="input_field">
                        <label for="input_email">Date</label>
                        <input type="date"  class="input" title="Date" [(ngModel)]="workshopForm.date" [min]="minDate()" />
                    </div>
                    <div class="input_field">
                        <label class for="input_file">Image of bill</label>
                        <div class="custom_choice">
                            <input type="file" id="input_file" name="file" label="Upload image" accept="image/*" class="custom_file" [(ngModel)]="workshopForm.billImage" (change)="onFileSelected($event,workshopForm)">
                            <!-- <label for="input_file" class="custom_file_label">
                                Choose a file</label> -->
                        </div>
                    </div> 
                    <div class="input_field">
                        <label for="input_note">Note</label>
                        <textarea class="textarea" id="input_note" placeholder="Leave a comment" title="Note" [(ngModel)]="workshopForm.note" rows="3"></textarea>
                    </div> 
                    <div class="input_field">
                            <button (click)="onSubmit()">SUBMIT</button>
                    </div>
                </div>
            </li> 
            <li>
                <div id="workshopinfo"> 
                    <h2>WORKSHOP INFORMATION</h2>
                    <div class="workshop_component">
                        <div class="picture_workshop"></div> 
                        <div class="info_workshop"> 
                            <p> 
                                <b>Time:</b>  Everyday | 2:00 PM - 5:00 PM <br>
                                <b> Participation fee:</b>  75,000 VND per person <br>
                                (2 products: 1 bracelet, 1 medium-sized necklace + 1 beverage) <br>
                                <b>Workshop category:</b>  Handmade bracelet and necklace <br>
                                <b>Address:</b> 669 QL1A, Ward 3, Thu Duc, Ho Chi Minh City <br>
                                <b>Phone number:</b> 0123456789<br> 
                            </p>
                        </div>
                    </div> 
                    <p><i>For more information, hover your mouse on the photo!</i></p>
                </div>
            </li>
        </ul>        
    </div>
    <!-- <div id="collection">
        <h1>WORKSHOP RECAP</h1>
        <ul>    
            <li>
                <div class="workshop-recap">
                    <img src="assets/images/workshop/collection1.png" alt="" object-fit="contain" max-width="100px" max-height="100px">
                    <a href="#"  class="see-more">SEE MORE</a>
                </div>
            </li>
            <li>
                <div class="workshop-recap">
                    <img  src="assets/images/workshop/collection1.png" alt="" object-fit="contain" max-width="100px" max-height="100px" >
                    <a href="#" class="see-more">SEE MORE</a>
                </div>
            </li>
            <li>
                <div class="workshop-recap">
                    <img src="assets/images/workshop/collection1.png" alt="" object-fit="contain" max-width="100px" max-height="100px"> 
                    <a href="#" class="see-more">SEE MORE</a>
                </div>
            </li> 
            <li>
                <div class="workshop-recap">
                    <img src="assets/images/workshop/collection1.png" alt="" object-fit="contain" max-width="100px" max-height="100px"> 
                    <a href="#" class="see-more">SEE MORE</a>
                </div>
            </li>
        </ul>
    </div>   -->
</div>