<div class="signup-box">
    <h2 id="signup" style="text-align: center;">SIGN UP</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td colspan="3" style="text-align: center;"> <p> Please fill in the information below</p></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="email">Email *&nbsp;</label></td>
                <td><input type="email" formControlName="email" id="email" placeholder="Enter your email" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="name">Full Name *&nbsp;</label></td>
                <td><input type="text" formControlName="name" id="name" placeholder="Enter your name" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="phoneNumber">Phone *&nbsp;</label></td>
                <td><input type="tel" formControlName="phoneNumber" id="phoneNumber" placeholder="Enter your phone number" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="dateOfBirth">Date of Birth *&nbsp;</label></td>
                <td><input type="date" formControlName="dateOfBirth" id="dateOfBirth" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="address">Address *&nbsp;</label></td>
                <td><input type="text" formControlName="address" id="address" placeholder="Enter your address" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="password">Password *&nbsp;</label></td>
                <td><input type="password" formControlName="password" id="password" placeholder="Enter your password" required></td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="3"> <button type="submit">CREATE MY ACCOUNT</button></td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="3"> </td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="3">Already have an account? <a routerLink="/login">Log in</a></td>
            </tr>
        </table>
    </form>
</div>
<p>{{errMessage}}</p>