<body>
    <div class="main">
        <main>
            <div class="container">
                <h1 class="heading-1">Sweetest Friendship Bracelet Moments at Taylor Swift’s Eras Tour</h1>
                <div class="sub-heading"><span>june 26, 2021</span></div>
                  <article>
                    <p>Everyone from Swifties to celebs like Sabrina Carpenter, Jennifer Lawrence and even Swift herself have been getting in on the fun Eras tour trend..</p>
                    <p>Taylor Swift encouraged fans to “make the friendship bracelets, take the moment and taste it” in her Midnights track, “You’re on Your Own, Kid,” and Swifties did just that.</p> 
                    <p>Trading colorful, beaded friendship bracelets has officially become a fun activity for attendees of Swift’s sweeping Eras stadium tour, with fans taking to social media to show off their arms full of fun bracelets that make references to various Swift songs, album eras, inside jokes among fans and lyrics. </p>
                    <p>The trend has become so widespread just two months into the tour, that even celebrities have been joining in on the fun. Everyone from Sabrina Carpenter, Gigi Hadid and Jennifer Lawrence to Nicole Kidman, Keith Urban, Aaron Dessner and even Swift herself have been spotted accepting friendship bracelets from Swifties, and have even taken to social media to show off their colorful arm candy.</p> 
                    <p>While how the trend started seems to be in direct reference to the lyrics of Swift’s Midnights track, the multi-Grammy winner also shared an arm full of friendship bracelets to Instagram in 2019, leading up to the release of her Lover album. Her bracelets included references to her love of cats (including her youngest feline Benjamin Button), her 2008 album Fearless, support for the LGBTQIA+ community and, of course, Lover.</p>
                  </article>
              </div> 
              <div id="collection">
                <h1>BEST SELLERS</h1>
                <ul>    
                    <li>
                        <div class="collection-pic">
                            <img src="assets/blog/SP1.png" alt="" object-fit="contain" max-width="100px" max-height="100px">
                        </div>
                    </li>
                    <li>
                        <div class="collection-pic">
                            <img  src="assets/blog/SP1.png" alt="" object-fit="contain" max-width="100px" max-height="100px" >
                        </div>
                    </li>
                    <li>
                        <div class="collection-pic">
                            <img src="assets/blog/SP1.png" alt="" object-fit="contain" max-width="100px" max-height="100px"> 
                        </div>
                    </li>   
                <br>
                </ul>
                <div class="button-see-more">
                    <a href="#">SEE MORE</a>
                </div>
                <div class="comment">
                    <p>Comment</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea> 
                </div> 
                <div class="button-submit">
                    <button type="submit">COMMENTS</button>
                </div>
            </div>   
        </main>
        <aside class="right">
            <h3 class="heading-3">NEWEST POSTS</h3>
                      <div class="lists">
                        <div class="list">
                          <img src="assets/blog/pic1.jpg" alt="photo 1">
                          <p>Swifties are making and trading friendship bracelets. Here’s what to know!</p>
                        </div>
                        <div class="list">
                          <img src="assets/blog/pic2.jpg" alt="photo 2">
                          <p>Everything You Need to Know About Why Taylor Swift Fans Are Making Friendship Bracelets for the Eras Tour</p>
                        </div>
                        <div class="list">
                          <img src="assets/blog/pic1.jpg" alt="photo 3">
                          <p>Make the Friendship Bracelets: Shop Custom Kits for Taylor Swift's Concert</p>
                        </div>
                      </div>
        </aside> 
    </div>
</body>
