<div class="contact-content">
    <div class="information">
        <h1 id="info">INFORMATION</h1>
        <p class="form-text">Please fill in this form if you have any questions.</p>
        <form method="post">
            <p>
                <label for="name">Name</label>
                <input type="text" name="" id="name">
            </p>
            <p>
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </p>    
            <p>
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </p>
            <div class="form-button">
                <button type="button">SUBMIT</button>
            </div>
        </form>
    </div>

    <div class="charmsie">
        <h1 id="contact">CONTACT INFORMATION</h1>
        <div class="about">
            <span><b>Charmsie Store - Beauty in every beads</b></span>
            <br>
            <span>Hotline: 0911 855 002</span>
            <br>
            <span>Email: charmsie.store@gmail.com</span>
            <br>
            <span>TikTok: @charmsie_store</span>
            <br>
            <span>Instagram: @charmsie.store</span>
            <br>
            <img src="assets/images/logo.png" alt="Charmsie Store">
        </div>   
    </div>
</div>