.contact-content{
    display:flex;
    margin-top: calc(var(--header-height) + 64px);
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1000px;
}

h1{
    font-size: 24px;
    color: #EF9595;
}
.form-text{
    font-style: italic;
}
.form-button{
    text-align: center;
}
form{
    color: #EF9595;
    font-size: 16px;
}
form p label{
    display:block;
    
}
form input{
    border: 1px solid #EF9595;
    width: 400px;
    padding-left: 8px;
    padding-right: 8px;
}
form textarea{
    width:400px;
    height:100px;
    border: 1px solid #EF9595;
    padding-left: 8px;
}
form button{
    padding: 12px 80px;
    border: 1px solid #EF9595;
    background-color: #EF9595;
    font-weight: bold;
    color: white;
    font-size: 12pt;
    text-align: center;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
form button:hover{
    background-color: #FFEEEE;
    color: #EF9595;
}
p{
    margin-top:20px;
}

.charmsie{
    margin-left: 160px;
}

.charmsie .about img{
    margin-top: 32px;
    height: 150px;
}

