<div class="cover-about">
</div>
<div id="about-information">
    <div class="column1">
        <div class="cl-left">
            <div class="privacy_policy">
                <h1>Privacy policy</h1> 
                <div class="quick-access">
                    <a (click)="scrollToSection('personal_info')">Personal information</a><br>
                    <a (click)="scrollToSection('security')">Security</a><br>
                    <a (click)="scrollToSection('benefits')">Customer Benefits</a><br>
                </div>
            </div>
            <div class="terms_condition">
                <h1>Terms and conditions</h1> 
                <div class="quick-access">
                    <a (click)="scrollToSection('terms')">Terms and conditions</a><br>
                    <a (click)="scrollToSection('instructions')">Instructions for using the web</a><br>
                    <a (click)="scrollToSection('accept')">Accept orders and prices</a><br>
                    <a (click)="scrollToSection('Trademarks')">Trademarks and copyrights</a><br>
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="cl-right"> 
            <div class="begin-privacy">
                <h1>Privacy Policy</h1>
                <p>Thank you for your interest and visiting the website. We respect and commit to keeping your private information confidential.</p>
                <p>The privacy policy explains how we receive, use and (in certain cases) disclose your personal information.</p>
                <p>Protecting personal data and building your trust is a very important issue to us. Therefore, we will use your name and other information related to you in accordance with the content of the Privacy Policy. We only collect necessary information related to sales transactions.</p>
                <p>We will keep customer information for as long as required by law or for any other purpose. You can access the website and browse without having to provide personal details. At that time, you are anonymous and we cannot know who you are if you do not log in to your account.</p>    
            </div>            
            <div class="in-text"> 
                <h3 class="section-heading" id="personal_info">Personal information
                    <div class="line"></div>    
                </h3> 
                <div class="body-in-text">
                    <p>- We collect, store and process your information for the purchase process and for future notices related to the order, and to provide services, including some personal information: brand, name, gender, date of birth, e-mail, address, delivery address, phone number, payment details, card payment details or bank account details.</p>
                    <p>- We will use the information you have provided to process orders, provide services and information requested through the website and according to your requests.</p>
                    <p>- Furthermore, we will use that information to manage your account; Verify and perform online transactions, identify web visitors, and send information including product and service information. If you do not want to receive any of our marketing communications, you can opt out at any time.</p>
                    <p>- We may pass your name and address to a third party so they can deliver the goods to you (for example, to a courier or).</p>
                    <p>- Your order details are stored by us, but for security reasons, we cannot make them available directly. However, you can access information by logging into your account on the website. Here you will see your order details, received and sent products and e-mail and bank details.</p>
                    <p>- You commit to keeping your personal data confidential and are not allowed to disclose it to third parties. We do not accept any responsibility for password misuse if this is not our fault.</p>
                    <p>- We may use your personal information for market research. All detailed information will be hidden and used for statistics only. You can refuse to participate at any time.</p>
                </div>
            </div> 
            <div class="in-text"> 
                <h3 class="section-heading" id="security">Security
                    <div class="line"></div>    
                </h3>
                <div class="body-in-text">
                    <p>- We take appropriate technical and security measures to prevent unauthorized or unlawful access or loss or destruction or damage to your information.</p>
                    <p>- We advise you not to give payment details to anyone by e-mail, we are not responsible for any losses you may incur in exchanging your information. customers via internet or e-mail.</p>
                    <p>- You absolutely do not use any programs, tools or other forms to interfere with the system or change the data structure. It is strictly forbidden to distribute, propagate or encourage any activities to interfere, sabotage or infiltrate the website system's data. Any violation will result in the deprivation of all rights and will be prosecuted before the law if necessary.</p>
                    <p>- All transaction information will be kept confidential, but in case required by law enforcement agencies, we will be forced to provide this information to law agencies.</p>
                    <p>The terms, conditions and content of this website are governed by the laws of Vietnam and the Vietnamese courts have jurisdiction.</p> 
                </div>
            </div>
            <div class="in-text"> 
                <h3 class="section-heading" id="benefits">Customer benefits
                    <div class="line"></div>    
                </h3> 
                <div class="body-in-text">
                    <p>-You have the right to request access to your personal data, and the right to request us to correct errors in your data without charge. You have the right at any time to ask us to stop using your personal data for marketing purposes.</p>
                    <p>Thank you very much for your interest in Charmsie brand products</p> 
                </div>
            </div>
            <div class="begin-terms">
                <h1 class="section-heading" id="terms">Terms of use</h1>
                <p>When you access our website, it means you agree to these terms. The website reserves the right to change, modify, add or remove any part of the Terms and Conditions of Use, at any time. Changes are effective immediately upon posting on the website without prior notice. And when you continue to use the website, after changes to the terms and conditions are posted, it means you accept those changes.</p>
                <p>Please check back regularly to update our changes.</p>
            </div>
            <div class="in-text">
                <h3 class="section-heading" id="instructions">Instructions for using the web
                    <div class="line"></div>    
                </h3>
                <div class="body-in-text">
                    <p>- When accessing our website, users must be at least 18 years old or access under the supervision of a parent or legal guardian.</p>
                    <p>- We grant a license to use so you can shop on the web within the terms and conditions of use set forth.</p>
                    <p>- It is strictly prohibited to use any part of this website for commercial purposes or on behalf of any third party without our written permission. If you violate any of the provisions herein, we will cancel your license without prior notice.</p>
                    <p>- This website is only used to provide product information, we are not the manufacturer, so the comments displayed on the website are the personal opinions of customers, not ours.</p>
                    <p>- You must register an account with authentic information about yourself and must update if there are any changes. Each visitor must be responsible for their password, account and activities on the website. Furthermore, you must notify us when your account is accessed without permission. We do not accept any responsibility, whether directly or indirectly, for damage or loss caused by your failure to comply with regulations.</p>
                    <p>- During the registration process, you agree to receive promotional emails from the website. After that, if you do not want to continue receiving emails, you can refuse by clicking on the link at the bottom of every promotional email.</p>
                </div>
            </div>
            <div class="in-text">
                <h3 class="section-heading" id="accept">Accept orders and prices
                    <div class="line"></div>    
                </h3>
                <div class="body-in-text">
                    <p>- We reserve the right to refuse or cancel your order for any reason at any time. We may ask for additional phone numbers and addresses before accepting orders.</p>
                    <p>- We are committed to providing the most accurate price information to consumers. However, sometimes errors still occur, for example if the product price is not displayed correctly on the website or the price is incorrect. Depending on each case, we will contact you for instructions or notify you of order cancellation. that's for you. We also reserve the right to refuse or cancel any order whether or not the order has been confirmed or paid.</p>
                </div>
            </div>
           <div class="in-text">
                <h3 class="section-heading" id="Trademarks">Trademarks and copyrights
                    <div class="line"></div>    
                </h3>
                <div class="body-in-text">
                    <p>- All intellectual property rights (registered or unregistered), information content and all designs, text, graphics, software, images, videos, music, sounds, compilations The software, source code and underlying software are our property. The entire content of the website is protected by Vietnamese copyright laws and international conventions. Copyright reserved.</p>
                </div>
           </div>
         </div>
    </div>
</div> 