* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Nunito;
  }
.cover-about {
    position: relative;
    margin-top: var(--header-height);
    background-image: url(/assets/images/privacy-terms/cover.png);
    background-size: cover;
    width: 100%; 
    height: 240px;
}  

.privacy_policy h1, .terms_condition h1{
    color: #EF9595;
    font-size: 24px;
} 

#cover-about > img {
    width: 100%;
} 

h3 {
    margin: 16px 0;
}

/* ABOUT */
#about-information {
    display: flex;
    max-width: 100%;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.column1 {
    flex: 30%;
    text-align: left;
    padding: 20px;
    
}

.cl-left {
    border: 1px solid #EF9595;
    padding: 16px;
    margin: auto; 
}

.section-heading {
    color: #EF9595;
} 


.quick-access a {
    color: #EF9595;
    text-decoration: none;
    margin-left: 10px; 
}

.quick-access a:hover {
    text-decoration: underline;
    color: #818a91;
    cursor: pointer;
}

.column2 {
    flex: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 20px;
}

.cl-right {
    border: 1px solid #EF9595;
    padding: 32px;
    margin: auto; 
}  
.cl-right .begin-privacy{
    line-height: 1.5;
}
.cl-right h1{
    color:#EF9595;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
} 
#terms {
    margin-top: 20px;
}
.cl-right .in-text{
    margin: 0 4px;
}
.line{
    width: 8%; 
    margin: 8px auto; 
    background-color: #EF9595;
    height:0.4px; 
} 
.body-in-text{
    margin-top:12px;
}
.column2 .section-heading {
    text-align: center;
}

.column2 p {
    text-align: justify;
}