<div class="main-content">
    <mat-drawer-container [autosize]="true" class="tw-min-h-full tw-max-w-7xl tw-mx-auto tw-border-x">
        <mat-drawer mode="side" opened class="tw-p-6">
            <app-filters (showCategory)="onShowCategory($event)"></app-filters>
        </mat-drawer>
        <mat-drawer-content class="tw-p-6">
            <app-product-header (columnsCountChange)="onColumnsCountChange($event)"></app-product-header>
            <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
                <mat-grid-tile>
                    <app-product-box class="tw-w-full" [fullWidthMode]="cols === 1"></app-product-box>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-product-box class="tw-w-full" [fullWidthMode]="cols === 1"></app-product-box>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-product-box class="tw-w-full" [fullWidthMode]="cols === 1"></app-product-box>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-product-box class="tw-w-full" [fullWidthMode]="cols === 1"></app-product-box>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-product-box class="tw-w-full" [fullWidthMode]="cols === 1"></app-product-box>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-drawer-content>        
    </mat-drawer-container>
</div>