<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">List Order</h1>
                </div>
                <hr class="divide">
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="app-search-box col-auto btn">
                                <form class="app-search-form">
                                    <input type="text" placeholder="Search..." name="search" class="form-control search-input">
                                    <button type="submit" class="btn search-btn btn-primary" style="color: #ef9595;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                    aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr style="color: #ef9595">
                                            <th class="cell" style="color: #ef9595">Order ID</th>
                                            <th class="cell" style="color: #ef9595">Customer Name</th>
                                            <th class="cell" style="color: #ef9595">Order Date</th>
                                            <th class="cell" style="color: #ef9595;">Payment Method</th>
                                            <th class="cell" style="color: #ef9595;">Status</th>
                                            <th class="cell" style="color: #ef9595;">Total Value</th>
                                            <th class="cell" style="color: #ef9595;">Order Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="cell">#01</td>
                                            <td class="cell">Nguyễn Thảo Uyên</td>
                                            <td class="cell">11/10/2023</td>
                                            <td class="cell"><span>Bank Transfer</span>
                                            <td class="cell"><span class="badge bg-success">Delivered</span></td>
                                            <td class="cell">100.000đ</td>
                                            <td class="cell">
                                                <a class="btn-sm"  routerLink="/orderdetails"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#EF9595" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                                      </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>