.product-detail-container {
    margin-top: calc(var(--header-height) + 64px);
    margin-bottom: 64px;
}

.add-to-cart-button {
    padding: 8px 32px;
    color: white;
    border: 1px solid #ef9595;
    background-color: #ef9595;
}

.add-to-cart-button:hover {
    color: #ef9595;
    border: 1px solid #ef9595;
    background-color: #FFEEEE;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}