<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <!-- header của nội dung -->
                <div class="col-auto">
                    <h1 class="app-page-title mb-0"> Post Management
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd"
                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        New Post
                    </h1>
                </div>
                <hr class="divide">
            </div>

            <p>{{errMessage}}</p>

            <div class="col-auto"> <a routerLink="/post">
                    <button type="submit" class="btn app-btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EF9595" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                          </svg>
                        Back
                    </button>
                </a>
            </div>
            <div class="w-100">
                <form>
                    <table class=" tableedit table mb-0 text-left">
                        <tr class="cell">
                            <th class="cell"><label for="blog-title">Title</label></th>
                            <td>
                                <input type="text" class="form-control" name="blog-title" id="blog-title" placeholder="Enter Title" [(ngModel)]="blog.title"/>
                            </td>
                        </tr>
                        <tr class="cell">
                            <th><label for="author-name">Author Name</label></th>
                            <td>
                                <input type="text" class="form-control" name="author-name" id="author-name" placeholder="Enter Author Name" [(ngModel)]="blog.author"/>
                            </td>
                        </tr>
                        <tr class="cell">
                            <th><label for="blog-image">Cover Image</label></th>
                            <td>
                                <input type="file" class="file-input" name="blog-image" id="blog-image" accept="image/*" [(ngModel)]="blog.coverImage" (change)="onFileSelected($event,blog)"/>
                            </td>
                        </tr>
                        <tr class="cell">
                            <th><label for="post-content">Content</label></th>
                            <td>
                                <editor apiKey="av6ui9athnbv6403hkbjr36g508ukjfbz3obdxw34iqsd89x"
                                    name="post-content"
                                    [(ngModel)]="blog.content"
                                    [init]="{
                                        plugins: 'tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                                        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                                        tinycomments_mode: 'embedded',
                                        tinycomments_author: 'Author name',
                                        mergetags_list: [
                                        { value: 'First.Name', title: 'First Name' },
                                        { value: 'Email', title: 'Email' },
                                        ],  
                                    }"
                                    ></editor>
                            </td>
                        </tr>
                        <tr class="cell">
                            <td>
                                <button type="reset" class="btn app-btn-secondary">Cancel
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ef9595"
                                        class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </button>
                            </td>
                            <td>
                                <button (click)="onSubmit()" class="btn app-btn-secondary">Create New
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            fill="#EF9595" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                        </svg>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>