<body>
    <div class="main">
        <main>
            <div class="container">
                <h1 class="heading-1">{{blog.title}}</h1>
                <div class="sub-heading">
                    <span class="published-date">{{blog.date}}</span>
                    <span class="author">Written by {{blog.author}}</span>
                </div>
                <article [innerHTML]="sanitizer.bypassSecurityTrustHtml(blog.content)"></article>
            </div>
            <!-- <div id="collection">
                <h1>BEST SELLERS</h1>
                <ul>
                    <li>
                        <div class="collection-pic">
                            <img src="assets/blog/SP1.png" alt="" object-fit="contain" max-width="100px" max-height="100px">
                        </div>
                    </li>
                    <li>
                        <div class="collection-pic">
                            <img src="assets/blog/SP1.png" alt="" object-fit="contain" max-width="100px" max-height="100px">
                        </div>
                    </li>
                    <li>
                        <div class="collection-pic">
                            <img src="assets/blog/SP1.png" alt="" object-fit="contain" max-width="100px" max-height="100px">
                        </div>
                    </li>
                    <br>
                </ul>
                <div class="button-see-more">
                    <a href="#">SEE MORE</a>
                </div>
                <div class="comment">
                    <p>Comment</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="button-submit">
                    <button type="submit">COMMENTS</button>
                </div>
            </div> -->
        </main>
        <aside class="right">
            <h3 class="heading-3">NEWEST POSTS</h3>
            <div class="lists">
                <a class="list" [routerLink]="['/blog/', blog._id]" *ngFor="let blog of blogs">
                    <img src="{{blog.coverImage}}" alt="Blog cover image">
                    <p>{{blog.title}}</p>
                </a>
            </div>
        </aside>
    </div>
</body>