<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0" style="color: #ef9595;">Workshop</h1>
                </div>

                <p>{{errMessage}}</p>

                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                        aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left" id="listworkshop">
                                        <thead>
                                            <tr>
                                                <th class="listworkshop" style="color: #ef9595;">Name</th>
                                                <th class="listworkshop" style="color: #ef9595;">Phone Number</th>
                                                <th class="listworkshop" style="color: #ef9595;">Email</th>
                                                <th class="listworkshop" style="color: #ef9595;">Date</th>
                                                <th class="listworkshop" style="color: #ef9595;">Bill Image</th>                                                    
                                                <th class="listworkshop" style="color: #ef9595;">Note</th>
                                                <th class="listworkshop" style="color: #ef9595;">Status</th>
                                                <th class="listworkshop" style="color: #ef9595;">Detail</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let workshopForm of workshopForms">
                                                <td>{{workshopForm.name}}</td>
                                                <td>{{workshopForm.phoneNumber}}</td>
                                                <td>{{workshopForm.email}}</td>
                                                <td>{{workshopForm.date}}</td>
                                                <td>
                                                    <img src="{{workshopForm.billImage}}" alt="Bill Image" width="100px">
                                                </td>
                                                <td>{{workshopForm.note}}</td>
                                                <td class=" btn-sm  selectoption" > 
                                                        <select id="confirmationStatus" name="confirmationStatus">
                                                            <option value="unconfirmed">Unconfirmed</option>
                                                            <option value="confirmed">Confirmed</option>
                                                        </select>
                                                </td>
                                                <td class="cell"> 
                                                    <a>
                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#ef9595" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                                              </svg>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!--//table-responsive-->

                            </div>
                            <!--//app-card-body-->
                        </div>
                        <!--//app-card-->
                        <nav class="app-pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Back</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>