<div class="login-box app-wrapper" [@fadeInOut]>
    <h2 id="login-title">LOG IN</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td colspan="3" id="notemessage"> <p>Please enter your email and password </p></td>    
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="email">Email *&nbsp;</label></td>
                <td><input type="email" formControlName="email" id="email" placeholder="Enter your email" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><label for="password">Password *&nbsp;</label></td>
                <td><input type="password" formControlName="password" id="password" placeholder="Enter your password" required></td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="3"><button type="submit">LOG IN</button></td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="3">Don't have an account? <a routerLink="/signup">Create one</a></td>
            </tr>
        </table>
    </form>
</div>
