<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <!-- header của nội dung -->
                <div class="col-auto">
                    <h1 class="app-page-title mb-0"> List Categories
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd"
                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        New Category
                    </h1>
                </div>
                <hr class="divide">
            </div>
            <div class="col-auto"> <a routerLink="/category">
                    <button type="submit" class="btn app-btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EF9595" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                          </svg>
                        Back
                    </button>
                </a>
            </div>
            <div class="w-100">
                <form>
                    <table class=" tableedit table mb-0 text-left">
                        <tr class="cell">
                            <th class="cell">New Category</th>
                            <td>
                                <input type="text" class="form-control" name="category" id="category"
                                    placeholder="Enter New Category" />
                            </td>
                        </tr>
                        <tr class="cell">
                            <th>Category Code</th>
                            <td>
                                <input type="text" class="form-control" name="category" id="category"
                                    placeholder="Enter Category Code" />
                            </td>
                        </tr>
                        <tr class="cell">
                            <th>Category Image</th>
                            <td>
                                <input type="file" class="file-input" name="category_image" id="category_image" />
                            </td>
                        </tr>
                        <tr class="cell">
                            <th>Display</th>
                            <td class=" btn-sm  selectoption">
                                <select id="displaypage" name="displaypage">
                                    <option value="Homepage">Homepage</option>
                                    <option value="Submenupage">Submenupage</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="cell">
                            <th>Add Person</th>
                            <td class=" btn-sm  selectoption">
                                <select id="adminlist" name="adminlist">
                                    <option value="ThaoNgan">Thao Ngan</option>
                                    <option value="TuongVy">Tuong Vy</option>
                                    <option value="TuanKiet">Tuan Kiet</option>
                                    <option value="UyenNhi">Uyen Nhi</option>
                                    <option value="NgocDiep">Ngoc Diep</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="cell">
                            <td>
                                <button type="reset" class="btn app-btn-secondary">Cancel
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ef9595"
                                        class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn app-btn-secondary">Create New
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            fill="#EF9595" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                        </svg>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- <div class="container">
                    <p>
                        {{errMessage}}
                    </p>
            </div> -->

        </div>
    </div>
</div>