<div class="contact-content app-wrapper" [@slideInOut]>
    <p>{{errMessage}}</p>
    <div class="information">
        <h1 class="section-heading" id="info">INFORMATION</h1>
        <p class="form-text">Please fill in this form if you have any questions.</p>
        <form>
            <p>
                <label for="_name">Name</label>
                <input type="text" name="_name" placeholder="Enter your Name" title="Name" id="name" [(ngModel)]="contactForm.name">
            </p>
            <p>
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone" placeholder="Enter your Phone number" title="Phone number" [(ngModel)]="contactForm.phoneNumber">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your Email" title="Email" [(ngModel)]="contactForm.email">
            </p>    
            <p>
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Leave a comment" title="Note" [(ngModel)]="contactForm.comment"></textarea>
            </p>
            <div class="form-button">
                <button (click)="onSubmit()">SUBMIT</button>
            </div>
        </form>
    </div>

    <div class="charmsie">
        <h1 class="section-heading" id="contact">CONTACT INFORMATION</h1>
        <div class="about">
            <span><b>Charmsie Store - Beauty in every beads</b></span>
            <br>
            <span>Hotline: 0911 855 002</span>
            <br>
            <span>Email: charmsie.store@gmail.com</span>
            <br>
            <span>TikTok: @charmsie_store</span>
            <br>
            <span>Instagram: @charmsie.store</span>
            <br>
            <img src="assets/images/logo.png" alt="Charmsie Store">
        </div>   
    </div>
</div>