<!-- COVER -->
<div class="app-wrapper" [@slideInOut]>
    <div id="cover-about" class="image-container">
        <img src="/assets/images/about/cover-about.jpg" alt="Cover" >
    </div>
    <div id="about-information">
        <div class="column1">
            <div class="cl-left">
                <h2 class="section-heading">ABOUT US</h2>
                <div class="quick-access " >
                    <a (click)="scrollToSection('introduction')" class="section-heading-h3">WHO WE ARE</a><br>
                    <a (click)="scrollToSection('slogan')" class="section-heading-h3">OUR SLOGAN</a><br>
                    <a (click)="scrollToSection('vision')" class="section-heading-h3">OUR VISION</a><br>
                    <a (click)="scrollToSection('mission')" class="section-heading-h3">OUR MISSION</a>
                </div>
            </div>
        </div>
        <div class="column2">
            <div class="cl-right">
                <img class="mini-logo" src="./assets/images/logo.png"><br>
                <h3 class="section-heading" id="introduction">WHO WE ARE</h3>
                <p>Charmsie is an online store specializing in handmade jewelry and accessories made from colorful decorative beads for GenZ, especially girls who love creativity, loveliness and sophistication.</p>
                <p>"Charmsie" is not just a brand name, but it is a symbol of the elegance and sophistication of the handmade products that are created. The prefix "Gem" is not simply a material, but it is also a symbol of irreplaceable beauty and value. The beads are like sparkling gems, beautifying their owners. This is the message that all products at Charmsie are created with sophistication and quality. Furthermore, Charmsie also represents the GenZ generation's passion and love for handmade items, expressing a strong and special affection for handmade products. Through the brand name, Charmsie wants to bring quality products to customers. Charmsie's jewelry and accessories products include bracelets, rings, keychains,... handcrafted from many different types of beads and offer a variety of colors and designs. Charmsie products will have affordable prices, ranging from 10,000 VND - 60,000 VND, suitable for students.</p>
                <h3 class="section-heading" id="slogan">OUR SLOGAN</h3>
                <p>The slogan "Beauty in every beads" encapsulates the profound meaning of cherishing and nurturing each bead to create unique and visually appealing products. The store not only emphasizes the overall beauty of the products but also invests passion into every small detail. Each bead represents its own beauty, and when intertwined, they form a complete product, providing the utmost aesthetic satisfaction for customers. Simultaneously, it signifies the creation of uniqueness and personalization through accessories, allowing customers to express their individual style and personality through each distinct product.</p>
                <h3 class="section-heading" id="vision">OUR VISION</h3>
                <p>Charmsie strives to become a leading brand in the field of handmade jewelry and accessories crafted from beads, specifically catering to the Gen Z generation in Vietnam. Charmsie's vision is to be a source of inspiration for young individuals, an icon of creative freedom, and a destination for seeking uniqueness in every created product.</p>
                <h3 class="section-heading" id="mission">OUR MISSION</h3>
                <p>Charmsie's mission is to provide customers with unique and personalized products, crafted with passion, to celebrate the distinct beauty of each individual. Charmsie is committed to creating high-quality jewelry and accessories from beads, offering a diversity of colors and styles, while also promoting trends in creativity and craftsmanship. The store consistently listens to customers and produces products with unique characteristics, allowing them to express themselves in the most distinctive way possible.</p>
            </div>
        </div>
    </div>
</div>