
.image-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Subtle box shadow */
}

.vivid-effect {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.vivid-effect:hover {
    transform: scale(1.3);
    filter: brightness(0.8);
    /* Increase brightness on hover */
}


.app-wrapper {
    scroll-behavior: smooth;
    
}
/* COVER */
#cover-about {
    position: relative;
    margin-top: var(--header-height);
    /* padding-top: 50%; 50% chiều ngang của chính nó -> đảm bảo cho kích thước luôn đúng tỷ lệ */
    background: cover no-repeat;
}

#cover-about > img {
    width: 100%;
}

/* ABOUT */
#about-information {
    display: flex;
    max-width: 100%;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.column1 {
    flex: 30%;
    text-align: left;
    padding: 20px;
    
}

.cl-left {
    border: 1px solid #EF9595;
    padding: 16px;
    margin: auto; 
}

.section-heading {
    font-weight: bolder;
    color: #EF9595;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.section-heading:hover {
    font-size: 2.5em;
    text-shadow: 3px 3px 6px #EF9595;
    color: #EF9595; /* Add this line to ensure a smooth transition for color on hover */
}

.section-heading-h3 {
    font-weight: bolder;
    font-size: 1em;
    color: white;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    padding-top: 2px;
    padding-bottom: 3px;
    cursor: pointer;
}

.section-heading-h3:hover {
    font-size: 1.2em;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
}


.quick-access a {
    color: #EF9595;
    text-decoration: none;
    margin-left: 10px;
}



.column2 {
    flex: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 20px;
}

.cl-right {
    border: 1px solid #EF9595;
    padding: 32px;
    margin: auto; 
}

.mini-logo {
    width: 100px;
    box-sizing: border-box;
    display: block; 
    margin: auto; 
}

.column2 .section-heading {
    text-align: center;
}

.column2 p {
    text-align: justify;
}