<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Contact Forms Management</h1>
                </div>
                <hr class="divide">
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="app-search-box col-auto btn">
                                <form class="app-search-form">
                                    <input type="text" placeholder="Search..." name="search" class="form-control search-input">
                                    <button type="submit" class="btn search-btn btn-primary" style="color: #ef9595;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                    aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell" style="color: #ef9595;">No.</th>
                                            <th class="cell" style="color: #ef9595;">User Name</th>
                                            <th class="cell" style="color: #ef9595;">User Email</th>
                                            <th class="cell" style="color: #ef9595; width: 100px;">Email Title</th>
                                            <th class="cell" style="color: #ef9595;">Description</th>
                                            <th class="cell" style="color: #ef9595;">Received Date</th>
                                            <th class="cell" style="color: #ef9595;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="cell">01</td>
                                            <td class="cell">Milkyway</td>
                                            <td class="cell">thngann1106@gmail.com</td>
                                            <td class="cell">Questions about product warranty service</td>
                                            <td class="cell shorten">
                                                <p>
                                                    I recently purchased a beautiful bead bracelet from your store
                                                    and wanted to inquire about the warranty service associated with
                                                    this particular product. I appreciate the craftsmanship of your
                                                    bracelets and would like to ensure that I fully understand the
                                                    terms of the warranty coverage. Could you please provide
                                                    information on the duration of the warranty for my bead
                                                    bracelet?
                                                </p>
                                            </td>
                                            <td class="cell">01/11/2023</td>
                                            <td class="cell" style="width: 100px;">
                                                <a class="btn-sm app-btn-secondary" href="#">Reply
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                        fill="#EF9595" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z" />
                                                    </svg>
                                                </a>
                                                <br><br>
                                                <a class="btn-sm app-btn-secondary" href="#">Delete 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"  fill="#EF9595" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Back</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>