<div class="page-container">
    <h2>My Orders</h2>
      <div class="order">
          <table>
              <tr>
                  <td colspan="3" class="status">
                      WE'VE GOT IT!
                  </td>
              </tr>
              <tr>
                  <td class="order-title">Order ID:</td>
                  <td class="order-title">Order Date:</td>
                  <td class="order-title">Estimated Delivery Date:</td>
              </tr>
              <tr>
                  <td>12345</td>
                  <td>2023-09-12</td>
                  <td>2023-09-20</td>
              </tr>
              <tr>
                  <td>
                      <img class="item-img" src="/assets/images/account/item1.png" alt="Item 1">
                  </td>
                  <td>
                  </td>
                  <td>
                      <button class="button">VIEW ORDER</button>
                      <button class="button">TRACK ORDER</button>
                  </td>
              </tr>
          </table>
      </div>
      <div class="order">
          <table>
              <tr>
                  <td colspan="3" class="status">
                      WE'VE SENT IT!
                  </td>
              </tr>
              <tr>
                  <td class="order-title">Order ID:</td>
                  <td class="order-title">Order Date:</td>
                  <td class="order-title">Estimated Delivery Date:</td>
              </tr>
              <tr>
                  <td>54321</td>
                  <td>2023-09-01</td>
                  <td>2023-09-12</td>
              </tr>
              <tr>
                  <td>
                      <img class="item-img" src="/assets/images/account/item2.png" alt="Item 2">
                  </td>
                  <td>
                  </td>
                  <td>
                      <button class="button">VIEW ORDER</button>
                      <button class="button">TRACK ORDER</button>
                  </td>
              </tr>
          </table>
      </div>
  </div>
  
  