<div class="main-content" [@slideInOut]>
    <mat-drawer-container [autosize]="true" class="tw-min-h-full tw-max-w-7xl tw-mx-auto tw-border-x">
        <mat-drawer mode="side" opened class="tw-p-6">
            <app-filters (showCategory)="onShowCategory($event)"></app-filters>
        </mat-drawer>
        <mat-drawer-content class="tw-p-6">
            <app-product-header 
                (columnsCountChange)="onColumnsCountChange($event)"
                (sortChange)="onSortChange($event)"
            ></app-product-header>
            <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
                <mat-grid-tile *ngFor="let product of products">
                    <app-product-box [product]="product" (addToCart)="onAddToCart($event)" class="tw-w-full tw-cursor-pointer" [fullWidthMode]="cols === 1"></app-product-box>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-drawer-content>        
    </mat-drawer-container>
</div>