<!-- COVER -->
<div id="cover">
    <img src="/assets/images/homepage/cover.png" alt="Cover">
</div>

<!-- NEW ITEMS -->
<div id="new-items">
    <h2 class="section-heading">NEW ITEMS</h2>
    <div class="row-list">
        <div class="row-element">
            <img src="/assets/images/homepage/new_item_1.png" alt="New Item" class="new-item-img">
        </div>

        <div class="row-element">
            <img src="/assets/images/homepage/new_item_2.png" alt="New Item" class="new-item-img">
        </div>

        <div class="row-element">
            <img src="/assets/images/homepage/new_item_3.png" alt="New Item" class="new-item-img">
        </div>
    </div>

    <button type="button" (click)="navigateToProducts()">OUR ITEMS</button>
</div>

<!-- ABOUT -->
<div id="about">
    <div class="column img-col">
        <img src="/assets/images/homepage/about-img.png" alt="About us">
    </div>
    <div class="column content-col">
        <div class="about-content">
            <h3>ABOUT CHARMSIE</h3>
            <p>Charmsie is an online store specializing in handmade jewelry and accessories crafted from vibrant decorative beads, catering to Gen Z, especially young creative, lovely, and elegant women.</p>
            <button type="button" (click)="navigateToAboutUs()">SEE MORE</button>
        </div>
    </div>
</div>

<!-- <div>
    <h2 class="section-heading">BEST SELLER</h2>
    <div class="row-list">
        <div class="row-element button-overlay">
            <img src="/assets/images/homepage/best-seller-1.png" alt="New Item" class="best-seller-img">
            <button type="button">See more</button>
        </div>

        <div class="row-element button-overlay">
            <img src="/assets/images/homepage/best-seller-2.png" alt="New Item" class="best-seller-img">
            <button type="button">See more</button>
        </div>

        <div class="row-element button-overlay">
            <img src="/assets/images/homepage/best-seller-3.png" alt="New Item" class="best-seller-img">
            <button type="button">See more</button>
        </div>
    </div> -->
<!-- NEW POSTS -->
<div id="new-posts">
    <h2 class="section-heading">NEW POSTS</h2>
    <div class="row-list">
        <div class="row-element">
            <img src="/assets/images/homepage/post_1.png" alt="New post" class="new-post-img">
        </div>

        <div class="row-element">
            <img src="/assets/images/homepage/post_2.png" alt="New post" class="new-post-img">
        </div>

        <div class="row-element">
            <img src="/assets/images/homepage/post_3.png" alt="New post" class="new-post-img">
        </div>
    </div>

    <button type="button" (click)="navigateToBlogs()">OUR POSTS</button>
</div>

<!-- SUBSCRIBE -->
<div id="subscribe">
    <div id="subscribe-bg-opacity"></div>
    <div id="subscribe-content">
        <h2 class="section-heading">SUBSCRIBE FOR MORE INFORMATION</h2>
        <p>Sign up for our newsletter to get discount your first purchase, early access to new limited edition collections and much more!</p>
        <form action="">
            <input type="email" name="subscriber" id="subscriber" placeholder="Enter your email address...">
            <button type="button">SUBSCRIBE</button>
        </form>
    </div>
</div>

<!-- WORKSHOP -->
<div id="workshop">
    <div class="column content-col">
        <div class="workshop-content">
            <h3>WORKSHOP</h3>
            <p>Join us for a hands-on experience that will teach you the art of bracelet design, from selecting the finest materials to mastering various techniques. Our experienced instructors will guide you through the process, sharing tips and tricks to ensure your creations are not only beautiful but also a true expression of your personality. Unleash your imagination, experiment with colors and textures, and leave with one-of-a-kind bracelets.</p>
            <button type="button" (click)="navigateToWorkshop()">REGISTER NOW</button>
        </div>
    </div>
    <div class="column img-col">
        <img src="/assets/images/homepage/workshop-img.png" alt="Workshop">
    </div>
</div>

<!-- CUSTOMER FEEDBACK -->
<div id="feedback">
    <h2 class="section-heading">CUSTOMERS' FEEDBACK</h2>
    <div class="row-list">
        <div class="row-element">
            <img src="/assets/images/homepage/customer_1.png" alt="Customer" class="new-item-img">
            <p>I absolutely adore the bracelet! It fits comfortably on my wrist and adds a touch of elegance to my outfits.</p>
        </div>

        <div class="row-element">
            <img src="/assets/images/homepage/customer_2.jpg" alt="Customer" class="new-item-img">
            <p>The quality is exceptional, and it has a lovely, unique charm to it. I've been wearing it daily, and it has held up remarkably well.</p>
        </div>

        <div class="row-element">
            <img src="/assets/images/homepage/customer_3.jpg" alt="Customer" class="new-item-img">
            <p>The variety of products available and the friendly, helpful staff made my visit enjoyable. I will definitely be returning to your store.</p>
        </div>
    </div>
</div>