/* user-account.component.css */
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 1000px;
  margin-top: calc(var(--header-height) + 64px);
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile {
  display: flex;
  align-items: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.avatar-info {
  margin-top: 20px;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #FE9595;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 0 0 10px;
  color: #333;
}

button {
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: #EF9595;
  font-weight: bold;
  font-size: 12pt;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 8px;
}

button:hover {
  background-color: #FFEEEE;
  color: #EF9595;
}

.user-info {
  flex: 1;
  margin-left: 20px;
}

.user-profile {
  flex: 1;
}

.user-info {
  flex: 3;
}

h2 {
  color: #FE9595;
}

.info-field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #FE9595;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #FE9595;
  border-radius: 4px;
}

input:read-only {
  background-color: #f4f4f4;
}

/* Add styles for edit mode */
input.edit-mode {
  border: 1px solid #FE9595;
}

button.edit-mode {
  background-color: #FE9595;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

.app-wrapper {
  scroll-behavior: smooth;
}

.section-heading {
  font-weight: bolder;
  color: #EF9595;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.section-heading:hover {
  font-size: 2.3em;
  text-shadow: 3px 3px 6px #EF9595;
  color: #EF9595; /* Add this line to ensure a smooth transition for color on hover */
}
