 .nav-link-text {
    color: #ef9595;
    font-weight: bold;
}


.app-header-inner {
    background-color: #ef9595;
}


*,
*::before,
*::after {
    box-sizing: border-box
}

@media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25
}




label {
    display: inline-block
}



button:focus:not(:focus-visible) {
    outline: 0
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2)
}

.row>* {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y)
}

.col {
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%
}

.col-auto {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto
}


.col-6 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}


.g-4,
.gx-4 {
    --bs-gutter-x: 1.5rem
}

.g-4,
.gy-4 {
    --bs-gutter-y: 1.5rem
}

.g-5,
.gx-5 {
    --bs-gutter-x: 3rem
}


.collapse:not(.show) {
    display: none
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

@media(prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none
    }
}


.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px)
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px)
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0
}

.card-body {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 1rem
}

.card-title {
    margin-bottom: .5rem
}

.card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1rem
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-footer {
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px)
}


.position-static {
    position: static !important
}

.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important
}


.w-25 {
    width: 25% !important
}

.w-50 {
    width: 50% !important
}

.w-75 {
    width: 75% !important
}

.w-100 {
    width: 100% !important
}

.w-auto {
    width: auto !important
}

.mw-100 {
    max-width: 100% !important
}

.vw-100 {
    width: 100vw !important
}

.min-vw-100 {
    min-width: 100vw !important
}

.h-25 {
    height: 25% !important
}

.h-50 {
    height: 50% !important
}

.h-75 {
    height: 75% !important
}

.h-100 {
    height: 100% !important
}

.h-auto {
    height: auto !important
}

.mh-100 {
    max-height: 100% !important
}

.vh-100 {
    height: 100vh !important
}

.min-vh-100 {
    min-height: 100vh !important
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5d6778
}

a {
    color: #15a362;
    text-decoration: none
}

a:hover {
    color: #128c54
}

hr {
    background: #adb4c0
}

.text-muted {
    color: #9fa7b5 !important
}

.table-dark {
    background: #252930;
    color: #fff
}

.table-bordered th,
.table-bordered td {
    border-color: #e7e9ed
}

.table th,
.table td {
    border-color: #e7e9ed
}

.table thead th {
    border-color: #e7e9ed
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #515a6a
}

.table-hover>tbody>tr:hover {
    background-color: #fff
}


.form-control {
    padding-top: .6rem;
    padding-bottom: .6rem;
    height: 2.5rem;
    border-color: #e7e9ed;
    color: #5d6778
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    color: #5d6778
}

.form-check-input:checked {
    background-color: #15a362;
    border-color: #15a362
}

.mb-0 {
    margin-bottom: 1.5rem !important
}
.app-header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    border-bottom: 1px solid #e7e9ed;
    height: 56px;
    background: #fff
}

.app-header-inner {
    position: relative
}

@media(min-width: 1200px) {
    .app-header-inner {
        margin-left: 250px
    }
}

@media(min-width: 1200px) {
    .app-wrapper {
        margin-left: 250px
    }
}

.app {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    padding-top: 56px;
    overflow-x: hidden
}

.app-wrapper {
    transition: all .4s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .app-wrapper {
        transition: none
    }
}

.app-page-title {
    color: #ef9595;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}

.app-card {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card.border-left-decoration {
    border-left: 3px solid #15a362
}

.app-card .app-card-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card .app-card-header {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-card-title {
    font-size: 1.125rem;
    margin-bottom: 0
}

.app-card .card-header-action {
    font-size: .875rem
}

.app-card .card-header-action a:hover {
    text-decoration: underline
}

.app-card .form-select-holder {
    display: inline-block
}

.app-card .btn-close {
    padding: 1rem
}

.app-card .btn-close:focus {
    box-shadow: none
}

.app-card-stat {
    text-align: center
}

.app-card-stat .stats-type {
    font-size: .875rem;
    color: #828d9f;
    text-transform: uppercase
}

.app-card-stat .stats-figure {
    font-size: 2rem;
    color: #252930
}

.app-card-stat .stats-meta {
    font-size: .875rem;
    color: #828d9f
}

.app-card-progress-list .item {
    position: relative;
    border-bottom: 1px solid #e7e9ed
}

.app-card-progress-list .item:hover .title {
    color: #252930
}

.app-card-progress-list .item:last-child {
    border: none
}

.app-card-progress-list .item .title {
    font-size: .875rem;
    font-weight: 500
}

.app-card-progress-list .item .meta {
    font-size: .875rem;
    color: #828d9f
}

.app-card-progress-list .item-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card-progress-list .progress {
    height: .5rem
}

.app-card-stats-table .table {
    font-size: .875rem
}

.app-card-stats-table .meta {
    color: #828d9f;
    font-weight: 500;
    font-size: .875rem
}

.app-card-stats-table .stat-cell {
    text-align: right
}

.app-card-basic {
    height: 100%
}

.app-card-basic .title {
    font-size: 1rem
}

.app-card .app-icon-holder {
    display: inline-block;
    background: #FFEEEE;
    color: #15a362;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%
}

.app-card .app-icon-holder.icon-holder-mono {
    background: #fFEEEE;
    color: #828d9f
}

.app-card .app-icon-holder svg {
    width: 24px;
    height: 24px
}

.app-card .app-card-body.has-card-actions {
    position: relative;
    padding-right: 1rem !important
}

.app-card .app-card-body .app-card-actions {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: .75rem;
    top: .75rem
}

.app-card .app-card-body .app-card-actions:hover {
    background: #f5f6fe
}

.app-card .app-card-body .app-card-actions .dropdown-menu {
    font-size: .8125rem
}

.app-card-doc:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.app-card-doc .app-card-thumb-holder {
    background: #e9eaf1;
    text-align: center;
    position: relative;
    height: 112px
}

.app-card-doc .app-card-thumb-holder .app-card-thumb {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000
}

.app-card-account {
    height: 100%
}

.app-card-account .item {
    font-size: .875rem
}

.app-card-account .item .profile-image {
    width: 60px;
    height: 60px
}

.app-card-account .item .btn-sm,
.app-card-account .item .btn-group-sm>.btn {
    padding: .125rem .5rem;
    font-size: .75rem
}

.app-table-hover>tbody>tr:hover {
    background-color: rgba(133, 0, 38, 0.2);
}

.app-card-notification .notification-type .badge {
    font-size: .65rem;
    text-transform: uppercase
}

.app-card-notification .profile-image {
    width: 60px;
    height: 60px
}

.app-card-notification .notification-title {
    font-size: 1.125rem
}

.app-card-notification .notification-content {
    font-size: .875rem
}

.app-card-notification .notification-meta {
    font-size: .75rem;
    color: #828d9f
}

.app-card-notification .action-link {
    font-size: .875rem
}

.app-card-notification .app-card-footer {
    background: #fafbff
}

@media(min-width: 1200px) {
    .table-search-form .form-control {
        min-width: 300px
    }
}

@media(max-width: 575.98px) {
    .app-card-stat .stats-figure {
        font-size: 1.125rem
    }

    .app-card-stat .stats-type {
        font-size: .75rem
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 991.98px) {
    .col-lg-3 {
        max-width: 100%;
    }
}

.divide{
    background-color: #EF9595;
    padding-top: 1px;
    padding-bottom: 2pxpx;
    margin-bottom: 2px;
}

@media(min-width: 768px) {
    .p-md-3 {
        padding: 1rem !important
    }
}